.collection-info {
  padding: 60px;
}

.collection-info h2 {
  margin-bottom: 20px;
  font-size: 40px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  margin-bottom: 15px;
}

.form-select {
  margin-bottom: 15px;
}

.form-control,
.form-select {
  width: 100%;
}

textarea.form-control {
  resize: vertical;
}

.markdown-preview {
  margin-top: 10px;
  background-color: rgb(199, 197, 197);
  padding: 10px;
  border-radius: 10px;
}

button[type="submit"] {
  margin-top: 15px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .collection-info {
    padding: 30px;
  }

  .collection-info h2 {
    font-size: 28px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .collection-info {
    padding: 40px;
  }

  .collection-info h2 {
    font-size: 32px;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .collection-info {
    padding: 60px;
  }

  .collection-info h2 {
    font-size: 36px;
  }
}

.collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 991px) {
  .collections {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .collections {
    grid-template-columns: 1fr;
  }
}
