.collections-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.collection {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
}

.collection h3 {
  margin-top: 0;
  font-size: 20px;
}

.collection p {
  margin: 5px 0;
}

.collection:last-child {
  margin-bottom: 0;
}
